<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743378862760-8fag38ilivk87n32hqorcceqgd3q089b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743378862760-8fag38ilivk87n32hqorcceqgd3q089b</string>
	<key>API_KEY</key>
	<string>AIzaSyAuMdfQ1RUZoxPBvZbLls6H5IcU_MlpTpE</string>
	<key>GCM_SENDER_ID</key>
	<string>743378862760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.social.app.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-91542</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-91542.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743378862760:ios:fe435639043be1527cf89d</string>
</dict>
</plist>